In [1]:
import csv, pandas as pd, numpy as np

In [2]:
df = pd.read_csv("Pleiades_Cluster.csv")

In [3]:
df.head()

,gmag,ra,dec,plx,bp_rp,lum_val,teff_val,radius_val
0,15.684173,58.452096,23.485778,3.486630,2.192428,0.062333,3797.0000,0.576938
1,7.498167,55.930096,25.080502,8.027063,0.188913,NaN,8337.3330,NaN
2,16.102013,57.170842,23.237979,8.509836,3.116683,NaN,3838.1667,NaN
3,12.923352,56.999005,24.731093,6.493298,1.591153,0.156267,4456.1650,0.663230
4,16.454210,55.865759,24.270604,2.675075,2.346289,0.050944,3830.0100,0.512623

In [17]:
df.columns

Index(['gmag', 'ra', 'dec', 'plx', 'bp_rp', 'lum_val', 'teff_val',
       'radius_val'],
      dtype='object')

In [25]:
df.dropna().iloc[2]

gmag            16.454210
ra              55.865759
dec             24.270604
plx              2.675075
bp_rp            2.346289
lum_val          0.050944
teff_val      3830.010000
radius_val       0.512623
Name: 4, dtype: float64

In [13]:
df.size/8

987.0

In [23]:
df.dropna()

,gmag,ra,dec,plx,bp_rp,lum_val,teff_val,radius_val
0,15.684173,58.452096,23.485778,3.486630,2.192428,0.062333,3797.0000,0.576938
3,12.923352,56.999005,24.731093,6.493298,1.591153,0.156267,4456.1650,0.663230
4,16.454210,55.865759,24.270604,2.675075,2.346289,0.050944,3830.0100,0.512623
7,12.179868,55.676693,23.502644,8.294176,1.369455,0.165852,4861.0350,0.574189
10,14.584626,55.786541,23.251838,4.447532,1.873214,0.085902,4112.1074,0.577466
...,...,...,...,...,...,...,...,...
979,9.779877,56.710653,23.239006,6.497724,0.746530,2.140879,5945.6665,1.378947
982,11.852763,56.920869,22.929795,5.779793,1.404244,0.513834,4526.7550,1.165440
983,8.186488,55.930264,24.374396,7.226433,0.352915,7.839014,7963.1953,1.470986
984,15.502478,56.525937,25.112616,2.085063,1.515169,0.141687,4443.0000,0.635280
986,11.906063,57.765432,22.840395,4.196960,1.102659,0.816104,4947.1800,1.229731